@import url('https://fonts.googleapis.com/css?family=Ubuntu|Kanit');

body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, Kanit, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF2DA;
  background-size: 120px 120px;
  background-image: -webkit-linear-gradient(45deg, #FFEFC8 25%, transparent 25%, transparent 75%, #FFEFC8 75%, #FFEFC8),
  -webkit-linear-gradient(-45deg, #FFEFC8 25%, transparent 25%, transparent 75%, #FFEFC8 75%, #FFEFC8);
  background-image: -moz-linear-gradient(45deg, #FFEFC8 25%, transparent 25%, transparent 75%, #FFEFC8 75%, #FFEFC8),
  -moz-linear-gradient(-45deg, #FFEFC8 25%, transparent 25%, transparent 75%, #FFEFC8 75%, #FFEFC8);
  background-image: linear-gradient(45deg, #FFEFC8 25%, transparent 25%, transparent 75%, #FFEFC8 75%, #FFEFC8),
  linear-gradient(135deg, #FFEFC8 25%, transparent 25%, transparent 75%, #FFEFC8 75%, #FFEFC8);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}